html, body{
        font-size: 11pt;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
}

#wrapper{
    margin-top: 0;  
    display: grid;
    grid-template-rows: 1fr 4fr 4fr 4fr 4fr 1fr;
    grid-template-columns: 1fr 6fr 1fr;
    height: 200vh;
    grid-template-areas: 
    "header header header"
    ". quote-one ."
    ". quote-two ."
    ". quote-three ."
    ". quote-four ."
    "footer footer footer";
    column-gap: 2%;
    row-gap: 2%;
    margin-bottom: 2%;
}

header{
    grid-area: header;
    background-color: teal;    
    text-align: center;
    color: white;
}

#quote-one{
    grid-area: quote-one;
    background-color: #BA808F;
}

#quote-two{
    grid-area: quote-two;
    background-color: #6D7265;
}

#quote-three{
    grid-area: quote-three;
    background-color: #AE8B81;
}

#quote-four{
    grid-area: quote-four;
    background-color: #A18357;
}

footer{
    grid-area: footer;
}

#quote-text{
    width: 85%;
    margin: 0 auto;
    align-items: center;
    grid-area: main;
}


#quote-one, #quote-two, #quote-three, #quote-four{
    display: grid;
}

#quote-text h1{
    display: inline;    
}

footer a{
    padding: 3%;
    background-color: teal;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    width: 70%;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width:768px){
    
    #wrapper{

        grid-template-columns: 1fr 6fr 6fr 1fr;
        grid-template-rows: 1fr 6fr 6fr 1fr;
        grid-template-areas: 
        "header header header header"
        ". quote-one quote-two ."
        ". quote-three quote-four ."
        "footer footer footer footer";
        height: 150vh;
        row-gap: 3%;

    }
    footer a{
        padding: 2%;
        width: 50%;
        font-size: 1.4rem;
    }

}

@media screen and (min-width:1024px){
    
    #wrapper{

        grid-template-columns: 1fr 6fr 6fr 6fr 6fr 1fr;
        grid-template-rows: 2fr 10fr 1fr;
        grid-template-areas: 
        "header header header header header header"
        ". quote-one quote-two quote-three quote-four ."
        "footer footer footer footer footer footer";
        height: 100vh;
        row-gap: 5%;
    }
   
    footer a{
        padding: 1%;
        width: 30%;
        font-size: 1.4rem;
    }
}